@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&family=Rubik:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
}

 :root {
    /* ## Colors */
    /* ### Theme 1 */
    /* #### Backgrounds */
    --very-dark-desaturated-blue-background: hsl(222, 26%, 31%);
    --very-dark-desaturated-blue-board: hsl(223, 31%, 20%);
    --very-dark-desaturated-blue-result: hsl(224, 36%, 15%);
    /* #### Keys */
    --light-desaturated-dark-blue: hsl(225, 21%, 49%);
    --desaturated-dark-blue: hsl(224, 28%, 35%);
    --red: hsl(6, 63%, 50%);
    --dark-red: hsl(6, 70%, 34%);
    --light-grayish-orange: hsl(30, 25%, 89%);
    --grayish-orange: hsl(28, 16%, 65%);
    /* #### Text */
    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --white: #fff;
}

body {
    height: 100vh;
    background-color: var(--very-dark-desaturated-blue-background);
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.container {
    width: 360px;
}

header {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    align-items: center;
    color: var(--white);
}

header .right {
    display: flex;
    align-items: end;
}

header .right>span {
    margin-right: 20px;
    font-size: 11px;
    font-weight: bold;
}

.theme-box .nums {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.theme-box .change-theme-box {
    width: 50px;
    padding: 3px;
    background: var(--very-dark-desaturated-blue-board);
    border-radius: 20px;
    display: flex;
}

.change-theme-box .theme-ball {
    display: block;
    width: 13px;
    height: 13px;
    background: var(--dark-red);
    border-radius: 50%;
    cursor: pointer;
}

.resulte-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    padding: 20px;
    color: var(--white);
    font-weight: bold;
    font-size: 30px;
    background: var(--very-dark-desaturated-blue-result);
    border-radius: 8px;
}


/* Board  */

.nums-board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    border-radius: 8px;
    background: var(--very-dark-desaturated-blue-board);
}

.nums-board .button {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background: var(--light-grayish-orange);
    box-shadow: 0px -3px inset var(--grayish-orange);
    cursor: pointer;
    color: var(--very-dark-grayish-blue);
}

.nums-board .reset {
    grid-column: 1/3;
}

.nums-board .equal-sign {
    grid-column: 3/5;
    background: var(--red);
    box-shadow: 0px -3px inset var(--dark-red);
}

.nums-board .del,
.nums-board .reset {
    background-color: var(--light-desaturated-dark-blue);
    box-shadow: 0 -3px inset var(--desaturated-dark-blue);
    font-size: 16px;
}

.nums-board .del,
.nums-board .reset,
.nums-board .equal-sign {
    /* color: var(--light-grayish-orange); */
    color: var(--white);
}